.jumbotron{background-color:#fefeef;}

.jumbotron {
      background: url('_MG_8105.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #fff;
}

h1{font-family: 'Gilda Display', serif;}

